

// Grays
// -------------------------

$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 60%) !default;   // #999
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee

// Brand colors
// -------------------------

$brand-primary:         #428bca !default;
$brand-success:         #5cb85c !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-info:            #5bc0de !default;


$text-color: $gray-dark;
$link-color: blue;

// typographic settings
$sans-font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
$serif-font-family: "Lora", "Times New Roman", Times, serif;
$mono-font-family: Monaco, Menlo, Consolas, "Courier New", monospace !default;

$base-font-size: 18px;
$base-line-height: 24px; 

$font-size-small: $base-font-size;

// device sizes
// Extra small screen / phone
$screen-phone:                  480px;

// Small screen / tablet
$screen-tablet:                  768px;

// Medium screen / desktop
$screen-desktop:                  992px;

// Large screen / wide desktop
$screen-lg-desktop:                  1200px;



// grid settings
$total-columns: 12;
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns


// Labels
// -------------------------

$label-default-bg:            $gray-light !default;
$label-primary-bg:            $brand-primary !default;
$label-success-bg:            $brand-success !default;
$label-info-bg:               $brand-info !default;
$label-warning-bg:            $brand-warning !default;
$label-danger-bg:             $brand-danger !default;

$label-color:                 #fff !default;
$label-link-hover-color:      #fff !default;
