/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "compass";
@import "compass/layout/grid-background"; // siehe auch http://compass-style.org/reference/compass/layout/grid_background/
@import "sassy-buttons";
@import "color-schemer";

// from bootstrap
@import "bootstrap/labels";

// custom stuff
@import "utilities";
@import "type";
@import "grid"; 
@import "animenu/animenu";

// site-specific stuff
@import "events"; 

body {
  color: $text-color;
}

/* the page's backgroud with a lightblue gradient */
.page {
  margin: 0 0.5em;
  padding: 0 0.5em;
}
.page-inner {
  background-color: white;
  &:hover {@include debug-vertical-alignment;}
}

@media (min-width: $screen-tablet) {
  .page {
    margin: 0 4em;
  }
  body {
    // light blue background
    @include background(linear-gradient(top, #9BB8D8, #F8FAFC));
  }
}

.sidebar {
  line-height: $base-line-height*1.5; 
}
// creating a color schema
$cs-scheme: complement;
$cs-primary: #F87F06;

@include cs-test(cs-primary() cs-secondary() cs-tertiary());

/* separate parts of a page */
.section {
  @extend .clearfix;
  @include padding-trailer(2);

  h3 {
    @include background(linear-gradient(top, #f0f0f0, #fff));
  }
}

.hover {
  .hover-show {
    display: none;
  }
  &:hover .hover-show {
    -webkit-transition: display 3s ease-in;
    display: block;
  }
}
.button {
  @include sassy-button;
}