/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "variables";
@import "compass";
@import "compass/layout/grid-background"; // siehe auch http://compass-style.org/reference/compass/layout/grid_background/


@import "type";
@import "grid"; 
@import "animenu/animenu";

/* body background color */
.page {
  margin: 0 0.5em;
  padding: 0 0.5em;
}
.page-inner {
  background-color: white;
  &:hover {@include debug-vertical-alignment;}
}

@media (min-width: $screen-tablet) {
  .page {
    margin: 0 4em;
  }
  body {
    // light blue background
    @include background(linear-gradient(top, #9BB8D8, #F8FAFC));
  }
  
}

/* from http://blog.teamtreehouse.com/a-better-clearfix-with-sass */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.section {
  @extend .clearfix;
  @include padding-trailer(2);

  h3 {
    @include background(linear-gradient(top, #f0f0f0, #fff));
  }
}

