
<div class="page">
<nav class="animenu "> 
    <input type="checkbox" id="button">
    <label for="button" onclick>Menu</label>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a class="active" href="#">Calendar</a>
    </li>
    <li>
      <a href="#">Galleries</a>
    </li>
    <li>
      <a href="#">Stories</a>
    </li>           
    <li>
      <a href="#">Choreos</a>
    </li>           
    <li>
      <a href="#">Links</a>
    </li>           
  </ul>
</nav>
</div>