---
title: Event-detail
---

<section class="page calender">
	<div class="container page-inner">

		<article class="row">

			<div class="date main-date col-md-2">
				<abbr title="Oct. 1, 2013" class="dtstart datesheet">
					<span class="month">Oct</span> 
					<span class="day">1</span> 
					<span class="year">2013</span>
				</abbr> 
				<span class="sep">–</span>
				<abbr title="Oct. 2, 2013" class="dtend datesheet">
					<span class="month">Oct</span> 
					<span class="day">2</span> 
					<span class="year">2013</span>
				</abbr>
			</div>

			<div class="col-md-1">
				<img src="http://placehold.it/300x300" style="width: 100%" /> 
			</div>

			<div class="col-md-5">
				<h4><a href="#">Ateliers hebdomadaires 2013-2014</a></h4>
				<ul>
					<li class="label label-default">Baroque</li>
					<li class="label label-default">Ongoing classes</li>
					<li class="label label-default">Workshop</li>
				</ul>
				<ul>
					<li>Compagnie Fantaisies Baroques Irène Feste</li>
					<li>Pierre-François Dollé</li>
				</ul>
			</div>

			<div class="col-md-2 omega">
				<div class="city">Paris</div>
				<div class="country">France</div>
			</div>

		</article>


	</div>
</section>