---
title: TEST2
---

<article class="page">
  <div class="container page-inner">

    <header>
      <div class="row">

        <h1 class="title">Form test page</h1>

      </div>
    </header>  

    <div>

      <span class="button">A button</span>
      <span class="button">A longer button</span>

      <form action="">
        <label for="emailAddress">Email address</label>
        <input type="text" id="emailAddress" placeholder="Email address">
      </form>

    </div>
  </div>
</article>